{{!--<h1>{{title}}</h1>
<h1>Список машин</h1>

<table>
    <tr>
        <th>Имя</th>
        <th>Описание</th>
        <th>Фото</th>
        <th>Категория</th>
    </tr>
    {{#each machines}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.image}}</td>
        <td>{{this.category}}</td>
    </tr>
    {{/each}}
</table>
<p>Телефон: {{phone}}</p>--}}

<div id="rec101700623" class="r t-rec" style=" " data-record-type="215" >
    <a name="rent" style="font-size:0;"></a>
</div>

<div id="rec101689235" class="r t-rec t-rec_pt_30 t-rec_pb_15" style="padding-top:30px;padding-bottom:15px;background-color:#fff352; " data-record-type="30" data-bg-color="#fff352">
    <!-- T015 -->
    <div class="t015"> 
        <div class="t-container t-align_left"> 
            <div class="t-col t-col_12 "> 
                <h1 class="t015__title t-title t-title_lg" field="title" style="">
                    <div style="font-size:40px;" data-customstyle="yes">
                        АРЕНДА ПРОФЕССИОНАЛЬНОЙ УБОРОЧНОЙ ТЕХНИКИ KARCHER<br />
                    </div>
                </h1>
                <div class="t015__descr t-descr t-descr_xl" field="descr" style="">
                    <div style="font-size:18px;" data-customstyle="yes">
                        Аренда профессиональной техники <strong>KARCHER</strong> - это правильный выбор. Зачем покупать технику, если её можно взять в аренду и опробовать в деле. У нас Вы сможете арендовать уборочную технику и оборудование, даже взять в аренду пылесос на выгодных для себя условиях и на нужный срок. По вопросам аренды пылесосов и другой уборочной техники обращайтесь к нашим экспертам! Мы поможем Вам как с выбором, так и с доставкой уборочного оборудования. <br />Вся техника предоставляется в аренду с нашим водителем.
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>

<div id="rec101689237" class="r t-rec" style=" " data-animationappear="off" data-record-type="796" >
    <!-- T796 -->
    <div class="t796"> 
        <div class="t796__shape-border t796__shape-border_top"> 
            <svg class="t796__svg" style="width:300%;height:1.5vw;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 10" preserveAspectRatio="none"> 
                <path d="M992 8.2L983.8 0l-8.2 8.2-8.2-8.2-8.2 8.2L951 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L869 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L787 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L705 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L623 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L541 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L459 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L377 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L295 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L213 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L131 0l-8.2 8.2-8.2-8.2-8.2 8.2L98.2 0 90 8.2 81.8 0l-8.2 8.2L65.4 0l-8.2 8.2L49 0l-8.2 8.2L32.6 0l-8.2 8.2L16.2 0 8 8.2-.2 0v10h1000.4V0"/> 
            </svg> 
        </div> 
    </div>
    <script type="text/javascript"> 
        $(document).ready(function() { t796_init('101689237'); });
    </script>
</div>

<div id="rec101694456" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; " data-record-type="490" >
    <!-- t490 -->
    <div class="t490">
        
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_left">
                    <h2 class="t-section__title t-title t-title_xs" field="btitle">
                        <div style="font-size:20px;" data-customstyle="yes">
                            <strong>Поломоечные машины</strong> <br />
                        </div>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="t-container"> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1476968690512" data-original="/images/111.png" style="width: 200px; height: 200px; background-image: url('/images/112.png');" role="img" aria-label="Поломоечная машина B 95 RS Bp Pack" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1476968690512">
                        <strong>Поломоечная машина </strong><strong>B 95 RS Bp Pack</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1476968690512">
                        <div style="text-align:left;" data-customstyle="yes">
                            Поломоечная машина с управлением стоя B 95 RS Bp Pack. Эту машину удобно применять в помещениях с нестандартной формой. Давление контакта щетки и количество подаваемой воды можно настраивать в зависимости от типа поверхности. Всасывающая балка гарантирует полное всасывание грязной воды, даже на крутых поворотах. Поверхность моментально становится чистой и сухой.<strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 
            
            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556262401266" data-original="/images/121.jpg" style="width: 200px; height: 200px; background-image: url('/images/122.jpg');" role="img" aria-label="Поломоечная машина B 90 R Classic Bp Pack​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556262401266">
                        <strong>Поломоечная машина </strong><strong>B 90 R Classic Bp Pack</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556262401266">
                        <div style="text-align:left;" data-customstyle="yes">
                            Поломоечная машина, управляемая водителем, с питанием от аккумуляторной батареи. Универсальная машина B 90 R Classic Bp Pack с баком повышенной емкости (90 л.) и переменной рабочей шириной (55-75 см). Можно использовать роликовые и дисковые щеточные насадки.<strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 
            
            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556263045070" data-original="/images/131.png" style="width: 200px; height: 200px; background-image: url('/images/132.png');" role="img" aria-label="Поломоечная машина BD 50/40 RS Bp Pack​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556263045070">
                        <strong>Поломоечная машина </strong><strong>BD 50/40 RS Bp Pack</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556263045070">
                        <div style="text-align:left;" data-customstyle="yes">
                            Поломоечная машина с шириной захвата 51 см и емкостью бака 40 л. Отличная модель, которая сочетает в себе легкость управления и высокий уровень маневренности. Предназначена для уборки средних по размеру помещений.<strong></strong><strong></strong><strong></strong><strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 
            

            <div class="t-clear t490__separator" style="margin-bottom:70px;">
            </div> 


            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556359530500" data-original="/images/211.jpg" style="width: 200px; height: 200px; background-image: url('/images/212.jpg');" role="img" aria-label="Поломоечная машина BR 530 Ep​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556359530500">
                        <strong>Поломоечная машина</strong><strong> BR 530 Ep</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556359530500">
                        <div style="text-align:left;" data-customstyle="yes">
                            Поломойно-всасывающая машина Karcher BR 530 Ep, работающая от сети, предназначена для уборки средних по размеру помещений.<strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556360154530" data-original="/images/221.jpg" style="width: 200px; height: 200px; background-image: url('/images/222.jpg');" role="img" aria-label="Уборочная машина​ BDS 43/180 C Adv​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556360154530">
                        <strong>Уборочная <strong data-redactor-tag="strong">машина</strong> BDS 43/180 C Adv</strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556360154530">
                        <div style="text-align:left;" data-customstyle="yes">
                            Многоцелевая низкоскоростная (180 об/мин) однодисковая машина Karcher универсального применения с двойной рукояткой и розеткой для всасывающего устройства. Обеспечивает легкую и тщательную очистку твердых и текстильных напольных покрытий. Бак для рабочего раствора (доступен отдельно) может легко сниматься для заправки. Версия с падодержателем. <strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 
            
            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556360009439" data-original="/images/231.jpg" style="width: 200px; height: 200px; background-image: url('/images/232.jpg');" role="img" aria-label="Уборочная машина​ BDS 43/180 C Adv​ *RU" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556360009439">
                        <strong>Уборочная <strong data-redactor-tag="strong">машина</strong> BDS 43/180 C Adv</strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556360009439">
                        <div style="text-align:left;" data-customstyle="yes">
                            Многоцелевая низкоскоростная (180 об/мин) однодисковая машина Karcher универсального применения с двойной рукояткой и розеткой для всасывающего устройства. Обеспечивает легкую и тщательную очистку твердых и текстильных напольных покрытий. Бак для рабочего раствора (доступен отдельно) может легко сниматься для заправки. Специальная версия со щеткой.<strong></strong>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<div id="rec101689239" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; " data-record-type="490" >
    <!-- t490 -->
    <div class="t490">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_left">
                    <h2 class="t-section__title t-title t-title_xs" field="btitle">
                        <div style="font-size:20px;" data-customstyle="yes">
                            Пылесосы
                        </div>
                    </h2>
                </div>
            </div>
        </div>

        <div class="t-container"> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1476968690512" data-original="/images/311.jpg" style="width: 200px; height: 200px; background-image: url('/images/312.jpg');" role="img" aria-label="Пылесос сухой уборки T 15/1 HEPA​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1476968690512">
                        <strong></strong><strong>Пылесос сухой уборки T 15/1 HEPA</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1476968690512">
                        <div style="text-align:left;" data-customstyle="yes">
                            Тихое устройство объединяет в себе высокую эргономику и комфорт благодаря полной интеграции всасывающего шланга, кабеля электропитания и аксессуаров. Этот пылесос оснащен фильтром HEPA для гигиеничной чистоты помещений в отелях, госпиталях, детских учреждениях и прочее.<strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556360765686" data-original="/images/321.jpg" style="width: 200px; height: 200px; background-image: url('/images/322.jpg');" role="img" aria-label="Пылесос сухой и влажной уборки XPERT NT 360" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556360765686">
                        <strong></strong><strong>Пылесос сухой и влажной уборки XPERT NT 360</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556360765686">
                        <div style="text-align:left;" data-customstyle="yes">
                            Мощный пылесос NT 360 Eco Xpert - превосходное бюджетное решение для уборки небольших площадей: мобильный и надежный пылесос влажной и сухой уборки в стандартном исполнении эффективно собирает как воду, так и мусор любого рода.<strong></strong>
                        </div>
                    </div> 
                </div> 
            </div> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556360906839" data-original="/images/331.jpg" style="width: 200px; height: 200px; background-image: url('/images/332.jpg');" role="img" aria-label="Щеточный пылесос CV 38/2 ADV​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556360906839">
                        <strong></strong><strong>Щеточный пылесос CV 38/2 ADV</strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556360906839">
                        <div style="text-align:left;" data-customstyle="yes">
                            Двухмоторный вертикальный пылесос CV 38/2 Adv с рабочей шириной 380 мм, эластичным шлангом и телескопической трубкой для чистки, расчесывания и обновления текстильных полов/столбов в отелях, бутиках, магазинах, выставочных залах, офисах, торговых центрах и в домашнем хозяйстве.
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<div id="rec101887973" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; " data-record-type="490" >
    <!-- t490 -->
    <div class="t490">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_left">
                    <h2 class="t-section__title t-title t-title_xs" field="btitle">
                        <div style="font-size:20px;" data-customstyle="yes">
                            Машины для уборки лестниц и эскалаторов
                        </div>
                    </h2>
                </div>
            </div>
        </div>

        <div class="t-container"> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556360906839" data-original="/images/411.jpg" style="width: 200px; height: 200px; background-image: url('/images/412.jpg');" role="img" aria-label="Аппарат для очистки эскалаторов BR 47/35 Esc​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556360906839">
                        <strong></strong><strong><strong data-redactor-tag="strong">Аппарат для очистки эскалаторов BR 47/35 Esc</strong></strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556360906839">
                        <div style="text-align:left;" data-customstyle="yes">
                            Специализированная машина BR 47/35 Esc предназначена для мойки эскалаторов и травалаторов. Основными ее преимуществами является простота установки и использования и отсутствие вмешательства в схему управления эскалатором.
                        </div>
                    </div> 
                </div> 
            </div> 

            <div class="t490__col t-col t-col_4 t-align_center t-item"> 
                <div class="t490__bgimg t-margin_auto t-bgimg" bgimgfield="li_img__1556361894539" data-original="/images/421.png" style="width: 200px; height: 200px; background-image: url('/images/422.png');" role="img" aria-label="Аппарат для очистки лестниц BD 17/5 C​" >
                </div> 
                <div class="t490__wrappercenter "> 
                    <div class="t-name t-name_sm" style="" field="li_title__1556361894539">
                        <strong></strong><strong><strong data-redactor-tag="strong">Аппарат для очистки лестниц BD 17/5 C</strong></strong><strong></strong><br />
                    </div> 
                    <div class="t-descr t-descr_xxs" style="" field="li_descr__1556361894539">
                        <div style="text-align:left;" data-customstyle="yes">
                            Компактная, с питанием от электросети однодисковая машина для мытья, в том числе с использованием моющих средств, полирования, кристаллизации различных поверхностей небольшой площади, например ступенек и подоконников.
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
    